<div class="row z-depth-4">
  <form class="col s12" (ngSubmit)="submit()" #noteForm="ngForm">
    <div class="row">
      <div class="input-field col s12">
        <input id="title" type="text" class="validate" required
                [(ngModel)]="_model.Title" name="title"
                #title="ngModel">  
        <label for="title" data-error="invalid" data-success="valid">Title</label>
        <div [hidden]="title.valid" 
              class="alert alert-danger">
          <sup style="color:red;">Title is required</sup>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="content" class="materialize-textarea"
                  [(ngModel)]="_model.Content" name="content"></textarea>
        <label for="content">Content</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m6">
        <input id="category" type="text" class="validate" required
                [(ngModel)]="_model.Category" name="category"
                #category="ngModel">
        <label for="category" data-error="invalid" data-success="valid">Category</label>
        <div [hidden]="category.valid" 
              class="alert alert-danger">
          <sup style="color:red;">Category is required</sup>
        </div>
      </div>

      <div class="input-field col s12 m6">
        <input id="priority" type="number" class="validate" required
                [(ngModel)]="_model.Priority" name="priority"
                #priority="ngModel">
        <label for="priority" data-error="invalid" data-success="valid">Priority</label>
        <div [hidden]="priority.valid" 
              class="alert alert-danger">
          <sup style="color:red;">Priority is required</sup>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m6">
        <input id="schedule" type="date" class="datepicker" required
               [(ngModel)]="eg.schedule" name="schedule"
               #schedule="ngModel">
        <label for="schedule" data-error="invalid" data-success="valid">Schedule</label>
        <div [hidden]="schedule.touched" 
              class="alert alert-danger">
          <sup style="color:red;">Schedule time is required</sup>
        </div>
      </div>
      Diagnostic: schedule.valid = {{ schedule.valid }} <br />
      Diagnostic: schedule.pristine = {{ schedule.pristine }} <br />
      Diagnostic: schedule.touched = {{ schedule.touched }} <br />
      Diagnostic: schedule.dirty = {{ schedule.dirty }} <br />
      Diagnostic: schedule = {{ schedule.toString() }}
    </div>

    <div class="row">
      <input class="btn-flat" type="submit" [disabled]="!noteForm.form.valid" value="Save" />
      <input class="btn-flat" type="button" value="Reset note" (click)="resetNote()" />
      <input class="btn-flat" type="button" value="Cancel" (click)="cancel()" />
    </div>
  </form>
</div>