<div class="row z-depth-4">
  <form class="col s12" (ngSubmit)="submit()" #noteForm="ngForm">
    <div class="row">
      <div class="input-field col s12">
        <input id="title" type="text" class="validate" required
                [(ngModel)]="model.Title" name="title"
                #title="ngModel">  
        <label for="title" data-error="invalid" data-success="valid">Title</label>
        <div [hidden]="title.valid || title.untouched" 
              class="alert alert-danger">
          <sup style="color:red;">Title is required</sup>
        </div>
      </div>
    </div>

    <!--<div class="row">
      <div class="input-field col s12">
        <textarea id="content" class="materialize-textarea"
                  [(ngModel)]="model.Content" name="content"></textarea>
        <label for="content">Content</label>
      </div>
    </div>-->

    <div class="row">
      <div class="input-field col s12">
        <div id="content"></div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m6">
        <input id="category" type="text" class="validate" required
                [(ngModel)]="model.Category" name="category"
                #category="ngModel">
        <label for="category" data-error="invalid" data-success="valid">Category</label>
        <div [hidden]="category.valid || category.untouched" 
              class="alert alert-danger">
          <sup style="color:red;">Category is required</sup>
        </div>
      </div>

      <div class="input-field col s12 m6">
        <input id="priority" type="number" class="validate" required
                [(ngModel)]="model.Priority" name="priority"
                #priority="ngModel">
        <label for="priority" data-error="invalid" data-success="valid">Priority</label>
        <div [hidden]="priority.valid || priority.untouched" 
              class="alert alert-danger">
          <sup style="color:red;">Priority is required</sup>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m6">
        <input id="schedule" type="date" class="datepicker">
        <label for="schedule">Schedule</label>
      </div>
    </div>

    <div class="row">
      <input class="btn-flat" type="submit" [disabled]="!noteForm.form.valid" value="Save" />
      <input class="btn-flat" type="button" value="Restart note" (click)="restartNote()" />
      <input class="btn-flat" type="button" value="Cancel" (click)="cancel()" />
    </div>
  </form>
</div>